.title-compra{
  top: 30%;
  left: 40%;
  position: absolute;
  font-size: var(--font-size-25xl);
  font-family: var(--font-lobster);
  margin-left: 1%;
}
.title-form {
  font-size: var(--font-size-25xl);
  font-family: var(--font-lobster);
  position: absolute;
  top: 1363px;
  left: 10%;
  line-height: 46px;
  display: inline-block;
  width: 1302px;
  height: 77px;
}

.background-form {
  position: absolute;
  top: 24px;
  left: 28px;
  background-color: var(--color-darkgoldenrod);
  width: 1244px;
  height: 573px;
  border-radius: var(--br-6xl);
}
.marco-form{
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xl);
  background-color: var(--color-maroon);
  width: 1305px;
  height: 629px;
}

.container-mark-right {
  position: absolute;
  top: 44px;
  left: 1035.5px;
  width: 214.5px;
  height: 274.5px;
}
.container-mark-left {
  position: absolute;
  top: 778px;
  left: 75px;
  width: 205px;
  height: 277.5px;
}
.nombre,
.correo,
.telefono {
  position: absolute;
  height: 9.06%;
  width: 21.46%;
  top: 9.86%;
  right: 69.81%;
  bottom: 81.08%;
  left: 8.74%;
  border-radius: var(--br-31xl);
  background-color: var(--color-whitesmoke-200);
  padding-left: 10px;
}
.correo,
.telefono {
  top: 23.53%;
  bottom: 67.41%;
}
.telefono {
  top: 37.2%;
  bottom: 53.74%;
}
.form-box {
  position: absolute;
  top: 30px;
  left: 68px;
  width: 1305px;
  height: 629px;
}
.input7 {
  position: absolute;
  height: 100%;
  width: 100%;
  left:0;
  bottom: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-whitesmoke-200);
  padding-left: 10px;
}
.input8 {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 201%;
  bottom: 500%;
  border-radius: var(--br-31xl);
  background-color: var(--color-whitesmoke-200);
  padding-left: 10px;
}

.form-wrapper2 {
  position: absolute;
  height: 7.3%;
  width: 19.44%;
  top: 11.78%;
  right: 29.31%;
  bottom: 80.92%;
  left: 51.25%;
}
.input-left8 {
  position: absolute;
  top: calc(50% - 10.5px);
  left: 39px;
  width: 96px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.form-wrapper3,
.form-wrapper4 {
  position: absolute;
  height: 7.3%;
  width: 19.44%;
  top: 59.92%;
  right: 68.47%;
  bottom: 32.78%;
  left: 12.08%;
}
.form-wrapper4 {
  top: 23.3%;
  right: 50.31%;
}
.mtodo-de-pago,
.vector-icon1 {
  position: absolute;
  top: 492.3px;
  left: 385.3px;
  width: 28.4px;
  height: 14.4px;
}
.mtodo-de-pago {
  top: 405px;
  left: 177px;
  font-size: var(--headings-h3-size);
  line-height: 34px;
  display: inline-block;
  color: var(--color-gray);
  width: 206px;
  height: 32px;
}
.line-roundedsearch-icon8 {
  position: relative;
  width: 18px;
  height: 18px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button-comprar, .button-cancelar {
  position: relative;
  letter-spacing: 0.1em;
  line-height: 26px;
  text-transform: uppercase;
}
.button-comprar:hover {
  color: var(--color-darkgoldenrod);
}
.button-cancelar:hover{
  color: var(--color-maroon);
}
.compra-realizada1,
.compra-realizada2 {
  position: absolute;
  top: 529px;
  left: 781px;
  border-radius: var(--br-11xl);
  background-color: var(--color-goldenrod);
  width: 237px;
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-lg) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-5xs);
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-9xl);
  color: var(--neutral-colors-white);
  font-family: var(--font-playfair-display);
}
.compra-realizada2 {
  left: 1046px;
  background-color: var(--color-maroon);
  color: var(--color-whitesmoke-100);
}
.tarjeta-de-credito-1-icon {
  position: absolute;
  top: 409px;
  left: 377px;
  width: 32px;
  height: 32px;
  object-fit: cover;
}
.edificio-2-icon,
.sobre-2-icon,
.telefono-3-icon,
.usuario-2-icon,
.usuario-3-icon {
  position: absolute;
  top: 281px;
  left: 142px;
  width: 32px;
  height: 32px;
  object-fit: cover;
}
.edificio-2-icon,
.sobre-2-icon,
.usuario-2-icon,
.usuario-3-icon {
  top: 194px;
}
.edificio-2-icon,
.usuario-2-icon,
.usuario-3-icon {
  top: 103px;
}
.edificio-2-icon,
.usuario-3-icon {
  left: 702px;
}
.edificio-2-icon {
  top: 190px;
}

.form {
  position: absolute;
  background-color: var(--neutral-colors-white);
  width: 1440px;
  top: 1416px;
  height: 781px;
  overflow: hidden;
  text-align: left;
  font-size: var(--text-single-100-regular-size);
  color: var(--neutral-colors-color-900);
  font-family: var(--text-single-200-regular);
  margin-left: 3.5%;
}

.home-icon {
  position: relative;
  width: 33.1px;
  height: 32px;
  object-fit: cover;
}
.link,
.master-link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.master-link {
  align-items: center;
  gap: var(--gap-7xs);
  margin-left: 25px;
}
.link {
  
  cursor: pointer;
}
.informacion-icon,
.telefono-icon {
  position: relative;
  width: 32px;
  height: 32px;
  object-fit: cover;
}
.telefono-icon {
  height: 30.6px;
}
.nav-list {
  position: absolute;
  top: calc(50% - 63.6px);
  left: calc(50% - 222.6px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-21xl);
}
.copyright-text {
  position: absolute;
  top: 32px;
  left: 384px;
  line-height: 18px;
}
.divider-footer {
  position: absolute;
  border-top: 1px solid var(--neutral-colors-color-600);
  box-sizing: border-box;
  width: 100%;
  
}
.footer-botom-copy {
  position: absolute;
  top: 190px;
  left: 110px;
  width: 1220px;
  height: 50px;
  font-size: var(--text-single-200-regular-size);
  font-family: var(--text-single-200-regular);
}

.logo-icon{
  position: absolute;
  top: 0;
  left: 0;
  width: 143px;
  height: 110px;
}
.logosolo-texto {
  position: absolute;
  top: 0;
  left: 0;
  left: 143px;
  width: 315px;
  height: 109px;
}
.logo-footer {
  position: absolute;
  top: 57px;
  left: 11px;
  width: 458px;
  height: 110px;
}
.social-media-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-maroon);
}
.facebook-icon {
  position: absolute;
  height: 50%;
  width: 27.22%;
  top: 25%;
  right: 36.39%;
  bottom: 25%;
  left: 36%;
  max-width: 100%;
  overflow: hidden;
 
}
.facebook-icon:hover,
.instagram-icon:hover,
.twitter-icon:hover {
  background-color: var(--color-darkgoldenrod);
}

.social-media-face {
  position: absolute;
  top: 0;
  left: 0%;
  width: 36px;
  height: 36px;
  cursor: pointer;
}
.instagram-icon {
  position: relative;
  width: 18px;
  height: 18px;
}
.social-media-icon-squareinsta {
  width: 36px;
  height: 36px;
  position: absolute;
  top: 0;
  left: 0%;
  cursor: pointer;
}
.social-media-insta {
  position: absolute;
  top: 0;
  left: 76px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}
.twitter-icon {
  position: absolute;
  height: 40.56%;
  width: 50%;
  top: 29.72%;
  right: 25%;
  bottom: 29.72%;
  left: 25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.social-media-twit {
  position: absolute;
  top: 0;
  left: 151px;
  width: 36px;
  height: 36px;
  cursor: pointer;
}
.footer,
.social-media-footer {
  position: absolute;
  top: 82px;
  left: 1105px;
  width: 187px;
  height: 36px;
}
.footer {
  top: 2284px;
  left: 0;
  width: 1440px;
  height: 284px;
  overflow: hidden;
  text-align: center;
  color: var(--neutral-colors-text-gray);
  background-color: var(--neutral-colors-white);
  font-size: var(--font-size-9xl);
  font-family: var(--font-playfair-display);
  margin-left: 4%;
}
.resumen-child,
.resumen-inner,
.resumen-item {
  position: absolute;
  top: 132px;
  left: 0;
  border-radius: var(--br-24xl);
  background-color: var(--color-maroon);
  width: 1348px;
  height: 208px;
}
.resumen-inner,
.resumen-item {
  top: 145px;
  left: 498px;
  background-color: var(--color-whitesmoke-200);
  width: 834px;
  height: 184px;
}
.resumen-inner {
  top: 144px;
  left: 16px;
  width: 446px;
}

.diamesao1,
.image-2-icon1 {
  position: absolute;
  left: 48px;
}
.diamesao1 {
  top: 176px;
  line-height: 34px;
  display: inline-block;
  width: 200px;
  height: 40px;
  font-family: var(--font-playfair-display);
  font-size: var(--font-size-9xl);
}
.image-2-icon1 {
  top: 236px;
  width: 318px;
  height: 34px;
  object-fit: cover;
}
.disponibles1 {
  position: absolute;
  top: 183px;
  left: 249px;
  line-height: 24px;
  display: inline-block;
  text-align: center;
  width: 156px;
  height: 18px;
  font-family: var(--font-playfair-display);
  font-size: var(--font-size-9xl);
}
.fila-butaca-importe {
  top: 177px;
  left: 570px;
  line-height: 34px;
  width: 689px;
  height: 39px;
  font-family: var(--font-playfair-display);
  font-size: var(--font-size-9xl);
}
.fila-butaca-importe,
.paragraph13,
.resumen1 {
  position: absolute;
  display: inline-block;
}
.paragraph13 {
  width: 52.37%;
  top: 240px;
  left: 42%;
  font-size: var(--font-size-xl);
  line-height: 34px;
  font-family: var(--font-gentium-basic);
  height: 42px;
}
.resumen1 {
  top: 0;
  left: 11px;
  font-size: var(--font-size-25xl);
  line-height: 66px;
  font-family: var(--font-lobster);
  color: var(--color-goldenrod);
  text-align: center;
  width: 264px;
  height: 77px;
}
.resumen {
  position: absolute;
  top: 969px;
  left: 46px;
  width: 1348px;
  height: 375px;
  text-align: left;
  color: var(--color-gray);
  margin-left: 3.5%;
}

.nav {
  line-height: 18px;
  cursor: pointer;
}
.navegation-bar {
  position: absolute;
  top: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-14xl);
  right: 120px;
}

.busqueda-icon {
  position: absolute;
  top: 39px;
  left: 100%;  
  height: 25px;
}
.header {
  position: absolute;
  top: 1px;
  left: 0;
  width: 458px;
  height: 110px;
}
.header {
  top: 0;
  width: 1440px;
  color: var(--neutral-colors-headings-black);
}
.image-principal {
  position: absolute;
  top: 353px;
  left: 380px;
  border-radius: 52px;
  width: 645px;
  height: 430px;
  object-fit: cover;
}

.img1,
.img2,
.img3,
.img4 {
  position: absolute;
  top: 376px;
  left: 118px;
  border-radius: var(--br-xl);
  width: 208px;
  height: 138.7px;
  object-fit: cover;
}
.img2,
.img3,
.img4 {
  top: 599px;
}
.img3,
.img4 {
  top: 376px;
  left: 1098px;
}
.img4 {
  top: 599px;
  height: 138.7px;
}
.desktop-compra {
  width:100%;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-9xl);
  color: var(--color-goldenrod);
  font-family: var(--font-playfair-display);
  
}
.header-line-hr{
  top: 100px;
}
.footer-line-hr {
  bottom: -1550px;
}
.imgs{
  position: absolute;
  margin-left: 3.5%;
}
